.container{
    display: flex;
    margin: 5px 20px 5px 20px;
    flex-wrap: wrap;
    
}
.cabecera{
    width: 300px;
    border-radius: 15px;
    margin: 5px;
    background-color: limegreen;
    justify-content: center;
}
.cuerpo{
    padding: 10px;
    background-color: aqua;
}