<!-- <div class="cabecera">
    <h1>Characters</h1>
    <div class="cuerpo">
      <p>Aqui podras ver los personajes de la serie</p>
      <form class="rk-search">
        <input
          type="text"
          placeholder="Search"
          id="urku-search"
          class="rk-search-field"
        />
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </form>
    </div>
  </div>
  <div class="cabecera"><h1>Episodes</h1></div>
  <div class="cabecera"><h1>Planets</h1></div> -->
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
  <div class="ae-grid__item--alt item-lg-3">
    <h1>Characters</h1>
  </div>
  <div class="ae-grid__item--alt item-lg-3">
    <h1>Episodes</h1>
  </div>
  <div class="ae-grid__item--alt item-lg-3">
    <h1>Planets</h1>
  </div>
</div>
