<footer class="ae-container-fluid rk-footer">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu" />
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__contact">
          <span class="ae-u-bold">LinkedIn: </span
          ><span class="ae-u-bolder">
            <a href="#0" class="rk-dark-color">
              https://www.linkedin.com/in/jonathan-villegas-4a61a9b2/</a
            ></span
          >
        </p>
      </div>
    </div>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li class="rk-menu__item">
          <a href="index.html" class="rk-menu__link">Home</a>
        </li>
        <li class="rk-menu__item">
          <a href="characters" class="rk-menu__link">Characters</a>
        </li>
        <li class="rk-menu__item">
          <a href="episodes" class="rk-menu__link">Episodes</a>
        </li>
        <li class="rk-menu__item">
          <a href="planets" class="rk-menu__link">Planets</a>
        </li>
      </ul>
      <!-- <form class="rk-search">
        <input
          type="text"
          placeholder="Search"
          id="urku-search"
          class="rk-search-field"
        />
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </form> -->
    </nav>
  </div>
</footer>
